body{
    background-image: url(Images/headphones_hero_1.jpg);
    background-repeat: no-repeat;

  }
   .logo_design {
    margin-left: 100px;
    margin-top: 29px;
    width: 161px;
    height: 32px;
   }
   .container{
    margin-left: 9px;
    width: 357px;
    height: 436px;
    margin-top: 297px;
   }
   .heading {
    color: white;
    width: 357px;
    height: 80px;
    font-size: 32px;
    font-weight: bold;
    margin-left: 20px;
   }
  .para1 {
    color: white;
    margin-left: 39px;
    margin-top: 0px;
  }
  .callto{
    border-radius: 90px;
    border: none;
    background-color: #ff6565;
    color: white;
    font-weight: bold;
    width: 162px;
    height: 44px;
    margin-left: 97px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 30px;
  }
  .callto:hover {
    background-color: #fa7c7c;
  }

  .para2{
    color: white;
    width: 335px;
    height: 182px;
    margin-left: 11px;
    font-size: 16px;
    margin-top: 30px;
  }

  .service {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-left:70px;
  }
  .para3 {
    color:black;
    width:325px ;
    height: 288px;
    margin-left:25px ;
    font-size: 16px;
    margin-top: 30px;
  }

  .content {
    margin-left: 84px;
    height: 1020px;
    width: 207px;
  }
  .sound {
    width: 207px;
    height: 180px;
  }
  .sound img {
    width: 94px;
    height: 65.38px;
    margin-left: 56px;
  }
  .sound h2 {
    text-align: center;
    font-weight: bold;
    font-size:20px ;
    margin-top: 40px;
    margin-top: 20px;
  }
  .sound p {
    text-align: center;
    width: 207px;
    height: 52px;
    margin-top: 10px;
  }

  .video {
    width: 207px;
    height: 180px;
    margin-top: 60px;
  }
  .video img {
    width: 67.59px;
    height: 76.8px;
    margin-left: 72px;
  }
  .video h2 {
    text-align: center;
    font-weight: bold;
    font-size:20px ;
    margin-top: 20px;
  }
  .video p {
    text-align: center;
    width: 207px;
    height: 52px;
    margin-top: 10px;
  }
  .music {
    width: 207px;
    height: 180px;
    margin-top: 60px;
  }
  .music img {
    width: 51.66px;
    height: 52.67px;
    margin-left: 78px;

  }
  .music h2 {
    text-align: center;
    font-weight: bold;
    font-size:20px ;
    margin-top: 20px;
  }
  .music p {
    text-align: center;
    width: 207px;
    height: 52px;
    margin-top: 10px;
  }
  .hear {
    width: 207px;
    height: 180px;
    margin-top: 60px;
  }
  .hear img {
    width: 61.43px;
    height: 61.44px;
    margin-left: 74px;
  }
  .hear h2 {
    text-align: center;
    font-weight: bold;
    font-size:20px ;
    margin-top: 20px;
  }
  .hear p {
    text-align: center;
    width: 207px;
    height: 52px;
    margin-top: 10px;
  }
  .wrap{
    background-image: url(Images/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  }
  .dot h2{
    width: 266px;
    height: 80px;
    margin-left: 56px;
    font-weight: bold;
    font-size: 32px;
    color: white;
  }
  .dot p{
    width: 305px;
    height: 208px;
    color: white;
    margin-left: 36px;
    font-size: 16px;
  }
  .dot1{
    width: 190px;
    height: 190px;
    margin-left: 93px;


  }
  .plus{
  position: absolute;
  width: 112px;
  height: 72px;
  transform: translate(39%, -145%);
  }
  .lorem {
    transform: translate(30% , -40%);
  }

  .one {
    margin-top: 10px;
  }

  .dot2{
    width: 190px;
    height: 190px;
    margin-left: 93px;
    margin-top: -220px;
  }
  .dot3{
    width: 190px;
    height: 190px;
    margin-left: 93px;
    margin-top: -220px;
  }
  .dot4{
    width: 190px;
    height: 190px;
    margin-left: 93px;
    margin-top: -220px;
  }
  .contact-form-container {

    background-color: #fff;
    margin-top: 60px;
    margin-left: 20px;
    width: 335px;
    height: 375px;
  }

  .contact-form-container h2 {
    margin-left: 94px;
    width: 147px;
    height: 40px;
    font-weight: 600;
    font-size: 30px;
    color: #071629;
  }
  form label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .name-input {
    width: 335px;
    height: 29px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #071629;
    border-radius: 4px;
    font-size: 14px;
  }

  .email-input {
    width: 335px;
    height: 29px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #071629;
    border-radius: 4px;
    font-size: 14px;
  }

  .message-input {
    width: 335px;
    height: 29px;
    padding: 10px;
    margin-bottom: 30px;
    border: 2px solid #071629;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
  }

  button {
    width: 162PX;
    height: 44PX;
    font-weight: bold;
    margin-left: 86PX;
    background-color: #FF6565;
    color: #FFFFFF;
    border: none;
    border-radius: 90px;
    cursor: pointer;
    font-size: 14px;
    font-size-adjust: 100px 18px;
    margin-bottom: 100px;
  }

  button:hover {
    background-color: #f77878;
  }

  @media screen and ( min-width:768px) {
  .heading{ margin-left:66px;
  width: 576px;
  height: 40px;
  font-size: 32px;
  }
  .logo_design{
  margin-left: 66px;
  width: 161px;
  height: 32px;
  margin-top: 29px;
  }
  .container{
    margin-left: 66px;
    width: 637px;
    height: 313px;
    margin-top: 300px;
    text-align: center;
   }
   .para2{
    width: 637px;
    height: 104px;
  }
  .service {
    width: 192px;
    height: 40px;
    margin-left:300px;
    font-size: 32px;
    margin-top: 100px;
  }
  .para3 {
    width:637px ;
    height: 104px;
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
    margin-left: 50px;
  }
  .content {
   width: 472px;
   height: 469px;
  }
  .video {
    margin-left: 360px;
    margin-top: -190px;
  }
  .sound {
    margin-top: 50px;
  }
  .hear {
    margin-left: 360px;
    margin-top: -190px;
  }
  .rachel {
    width: 450px;
    height: 104px;
    margin-left: 160px;
    color: white;
    font-size: 32px;
  }
  .oti {
    width: 637px;
    height: 104px;
    margin-left: 67px;
    color: white;
  }
  .dot7 {
    margin-left: 370px;
    margin-top: -230px;
  }
  .dot6{
    margin-top: 50px;
  }
  .dot9 {
    margin-left:370px ;
    margin-top: -220px;
  }
  .dot8 {
    margin-top: 70px;
  }
  .contact-form-container {
    margin-left: 213px;
  }
  }
  @media screen and (min-width:980px)  {
    .logo_design {
      margin-left: 200.61pxpx;
      margin-top: 27.76px;
     }
     .container{
      margin-left: 300px;
      width: 637px;
      height: 313px;
      margin-top: 289px;
      text-align: center;
     }
     .service {
      margin-left:600px;
    }
    .para3 {
      margin-left: 360px;
    }
    .music{
      margin-left: 630px;
      margin-top: -155px;
    }
    .hear{
      margin-left: 900px;
    }
    .video {
      margin-left: 320px;
    }
   .rachel {
    margin-left: 500px;
   }
   .oti {
    margin-left: 382px;
   }
  .dot8 {
    margin-left: 650px;
    margin-top: -230px;
  }
  .dot9 {
    margin-left: 940px;
  }
  .dot7 {
    margin-left:340px ;
  }
  .dot6{
   margin-left: 51px;
  }
  .contact-form-container{
    margin-left: 500px;
  }
   }